html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #262827; */
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
    /* filter: grayscale(40%); */
}

.usersZone {
    background-color: transparent;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.userImage {
    width: 150px;
}

.userNaame {
    text-align: center;
    font-size: 35px;
}

.singleUsersZone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.singleZone {
    text-align: center;
}

.singleUser {
    display: flex;
    align-items: center;
    max-width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.singleUser img {
    max-width: 50px;
}

.nameOfUser {
    margin-left: 15px;
    white-space: nowrap;
    margin-bottom: 0px;
}

.on-header {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.belt {
    width: 100%;
    padding: 70px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.belt h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
  
}

.belt .joinus a {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: white;
}

.belt-up {
    height: 60px;
    width: 100%;
    background-color:  rgba(32, 31, 31, 0.7);
    top: 0;
    left: 0;
    position: absolute;
   
}

.belt-up div div .left {
    height: 60px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.belt-up div div .left h1 {
    height: 60px;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
}

.menu-link {
    margin-left: 30px;
    color: white;
}

.belt-up div div .right {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.log {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.log p {
    color: white;
    margin: 0px;
}

.belt-down {
    height: 60px;
    width: 100%;
    background-color:  #2a2c2a;
    bottom: 0;
    left: 0;
    position: absolute; 
    opacity: 0.2;
}

.belt-down div div .left-down span {
    height: 60px;
    margin: 0px 2px;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}

.belt-down div div .left-down i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    cursor: pointer;
    text-align: right;
    padding: 0px 30px;
}




